<div class="modal fade" id="modal_modi_supplier">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">编辑商户</h4>
            </div>
            <div class="modal-body">
                <form id="supplier-info">
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label>商户名称</label>
                                <input type="text" placeholder="请输入商户名称" class="form-control" name="supp_name" value="" />
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label>商户电话</label>
                                <input type="text" placeholder="请输入商户电话" class="form-control" name="supp_phone" value="" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label>营业时间</label>
                                <input type="text" placeholder="请输入营业时间" class="form-control" name="supp_stime" value="" />
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label>起送金额</label>
                                <input type="text" placeholder="请输入起送金额" class="form-control" name="supp_sprice" value="" />
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label>配送范围</label>
                                <input type="text" placeholder="请输入营业时间" class="form-control" name="supp_sarea" value="" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label>商户简介</label>
                                <textarea class="form-control" rows="3" name="supp_desc" placeholder="请输入商户简介"></textarea>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary">保存</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>