body {
  padding: 0;
  margin: 0 auto;
  font-size: 14px;
  color: #444;
  font-family: Verdana, Microsoft YaHei, Helvetica, STHeiti STXihei, Microsoft JhengHei, Arial;
  background: #fff;
}
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: #dcdcdc;
}
::-webkit-scrollbar-track {
  background-color: #fafafa;
}
textarea {
  font-family: Verdana, Microsoft YaHei, Helvetica, STHeiti STXihei, Microsoft JhengHei, Arial !important;
}
a {
  color: #222;
  outline: none;
  text-decoration: none;
}
i {
  font-style: normal;
}
h4,
p {
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse !important;
  width: 100%;
}
.dTable {
  margin-top: 58px;
}
table tr {
  height: 38px;
  line-height: 38px;
  border-bottom: 1px solid #dedede;
}
table tr.hover,
table tr.click {
  background: #fafafa;
}
table tr.click td,
table tr.click td a {
  color: #44b549 !important;
}
table thead {
  background: #fdfdfd;
}
table tr td,
table tr th {
  padding: 0;
  padding-left: 15px;
  text-align: left;
}
table tr td,
table tr td a {
  color: #444;
  white-space: nowrap;
  text-decoration: none;
  font-size: 12px;
}
table tr td a,
table tr th a {
  color: #3f9e43;
  text-decoration: none;
  outline: none;
}
table tr td a:hover,
table tr th a:hover {
  text-decoration: underline;
}
table tr td a.del,
table tr th a.del {
  color: #e14747;
}
table tr td a.cut {
  display: block;
  width: 130px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  /* IE/Safari */
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  /* Opera */
  -moz-binding: url("ellipsis.xml#ellipsis");
}
.Elipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
table tr th {
  outline: none;
  cursor: default;
  color: #848484;
  font-weight: normal;
  transition-duration: 200ms;
  white-space: nowrap;
}
table tr th:first-child {
  background: none;
}
table tr th:hover {
  color: #333;
}
.search-w-box {
  margin-top: 13px;
  margin-left: 6px;
  width: 258px;
  background: url('../images/search-bar.gif') 8px no-repeat #ffffff;
  background-size: contain;
  height: 32px;
  float: left;
}
.search-w-box input {
  outline: 0;
  border: none;
  background: transparent;
  font-size: 14px !important;
  display: block;
  width: 96%;
  padding-left: 38px;
  font-family: Verdana, Microsoft YaHei, Helvetica, STHeiti STXihei, Microsoft JhengHei, Arial;
  height: 30px;
  line-height: 30px;
  color: #555;
  font-weight: normal;
}
.search-w-box input:focus,
.gs-text input:focus {
  border: none !important;
  box-shadow: none !important;
}
.dataTables_empty {
  color: #777;
  text-align: center;
  padding-left: 0;
}
.dataTables_filter {
  position: fixed;
  height: 55px;
  border-bottom: 1px solid #dedede;
  background: #fff;
  top: 0;
  left: 0;
  right: 0;
  z-index: 200;
}
.search-left-box {
  position: fixed;
  height: 55px;
  line-height: 48px;
  background: #fff;
  top: 0;
  right: 15px;
  z-index: 201;
}
.search-left-box #month-select {
  margin-top: 12px;
}
img {
  outline: none;
  border: none;
  padding: 0;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix {
  display: inline-table;
}
/* Hides from 	0	昨天 15:2IE-mac \*/
* html .clearfix {
  height: 1%;
}
.clearfix {
  display: block;
}
.mLeft10px {
  margin-left: 10px;
}
#__alert__ {
  top: 0;
  color: #fff;
  position: fixed;
  padding: 0 70px;
  background: #0fc966;
  line-height: 29px;
  height: 30px;
  z-index: 9999;
}
#__alert__.warn {
  background: #f37d2a;
}
.pt0 {
  padding-top: 0 !important;
}
.pt58 {
  padding-top: 58px;
}
.pb30 {
  padding-bottom: 30px;
}
.mb10 {
  margin-bottom: 10px;
}
.mt15 {
  margin-top: 15px;
}
.mt5 {
  margin-top: 5px;
}
.mt10 {
  margin-top: 10px;
}
.margin10 {
  margin: 10px;
}
.padding0 {
  padding: 0;
}
.padding10 {
  padding: 10px;
}
.pheader {
  padding-bottom: 15px;
}
#SummaryBoard .boardItem {
  height: 28px;
  line-height: 28px;
  font-size: 12px;
  display: inline-block;
  margin-right: 5px;
}
.bottombar {
  text-align: right;
  border-top: 1px solid #dedede;
  padding: 4px 15px;
  background: #fff;
  margin-bottom: -3px;
}
@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
.pd15 {
  padding: 15px;
}
.orderstatus {
  cursor: default;
}
.orderstatus.payed {
  color: #08c;
}
.orderstatus.refunded,
.orderstatus.unpay,
.orderstatus.canceled,
.orderstatus.closed {
  color: #888;
}
.orderstatus.received {
  color: #44B549;
}
.orderstatus.payed {
  color: #08c;
}
.orderstatus.delivering {
  color: #FF9000;
}
#__alert__ {
  top: 0;
  color: #fff;
  position: fixed;
  padding: 0 40px;
  background: #0fc966;
  line-height: 29px;
  height: 30px;
  z-index: 9999;
}
#__alert__.warn {
  background: #f37d2a;
}
.EmptyTd {
  font-size: 14px !important;
  text-align: center;
  color: #555;
}
.topRightNavItem {
  border-left: 1px solid #21a468;
}
.lobibox-notify-msg {
  font-family: Verdana, Microsoft YaHei, Helvetica, STHeiti STXihei, Microsoft JhengHei, Arial;
}
.fa {
  vertical-align: middle;
}
.pagination-sm {
  padding-top: 4px;
}
#pager-bottom-left {
  float: left;
  line-height: 50px;
}
.treetable .indenter {
  background: url("../images/tree-right.png");
  background-size: 12px;
  background-position: right 3px;
  background-repeat: no-repeat;
}
