/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2015-10-4, 16:57:07
    Author     : Administrator
*/
.button-set {
  height: 35px;
  padding: 5px 0;
}
